.btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  // background-color: rgba(38, 102, 251, 0.247);
  background-color: #1969ff;
  cursor: pointer;
  color: white;

  svg {
    margin-right: 10px;
  }

  &:first-child {
    margin-right: 20px;
  }

  &:hover {
    background-color: #fff;
    color: black;
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.dashboard {
  padding: 100px 0 70px;
}

.textSmall {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.textBig {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.balanceContainer {
  //   background-color: #181920;
  //   background-color: #2a2e3d;
  background-color: #191f2a;
  color: #fff;
  padding: 5px 25px 25px;
  border-radius: 15px;
}

// for tokens
.tokenDisplayTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  tbody,
  thead {
    width: 100%;
  }

  //   thead{
  //       border-bottom: 1px solid white;
  //   }

  td,
  th {
    text-align: left;
    width: 25%;

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  th {
    font-size: 14px;
    line-height: 50px;
  }
}
.token {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ffffff0c;
  padding: 0 15px;

  &:hover {
    background-color: #111;
  }

  &Img {
    height: 26px;
    width: 26px;
    background-color: #f1f1f1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 15px;

    &img {
      height: inherit;
      width: inherit;
      border-radius: inherit;
      object-fit: cover;
    }
  }
}
